### IntelliJ IDEA ###
../out/
!**/src/main/**/out/
!**/src/test/**/out/
Ex3/Ex3.iml
Ex2.iml
Ex1.iml
S1.03_JavaCollections_Level1.iml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store